<div class="modal" *ngIf="showModal" [ngStyle]="{ display: modalDisplayStyle }">
  <div class="modal-content">
    <div
      style="
        text-align: center;
        font-size: 24px;
        border-bottom: solid black 2px;
        padding-bottom: 15px;
      "
    >
      <i class="bi bi-person-bounding-box"></i>&nbsp;Customer Details
    </div>
    <div style="padding-top: 15px">
      <form [formGroup]="customerDataForm" (ngSubmit)="submitForm($event)">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi bi-person"></i> </span>
          </div>
          <input
            type="text"
            class="form-control"
            id="customerName"
            placeholder="Customer Name"
            formControlName="customerName"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="bi bi-calendar-check"></i>
            </span>
          </div>
          <input
            #typeInput
            type="text"
            class="form-control"
            id="bookingDate"
            placeholder="Booking Date"
            (focus)="toggleInputType(typeInput, 'focus')"
            (blur)="toggleInputType(typeInput, 'blur')"
            formControlName="bookingDate"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="bi bi-calendar-range"></i>
            </span>
          </div>
          <input
            #typeInput2
            type="text"
            class="form-control"
            id="agreementDate"
            placeholder="Agreement Date"
            (focus)="toggleInputType(typeInput2, 'focus')"
            (blur)="toggleInputType(typeInput2, 'blur')"
            formControlName="agreementDate"
          />
        </div>
        <div class="mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="bi bi-envelope"></i>
              </span>
            </div>
            <input
              type="email"
              class="form-control"
              id="emailId"
              placeholder="Email"
              formControlName="emailId"
              (blur)="validateEmail()"
              #email
            />
          </div>
          <div class="text-danger" *ngIf="emailError">{{ emailError }}</div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi bi-phone"></i> </span>
          </div>
          <input
            type="tel"
            class="form-control"
            id="contactNumber"
            placeholder="Contact Number"
            formControlName="contactNumber"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="bi bi-currency-rupee"></i>
            </span>
          </div>
          <input
            type="number"
            class="form-control"
            id="squareFeetRate"
            placeholder="Sq. Ft. Rate"
            formControlName="squareFeetRate"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="bi bi-currency-rupee"></i>
            </span>
          </div>
          <input
            type="number"
            class="form-control"
            id="developmentFees"
            placeholder="Development Fees"
            formControlName="developmentFees"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="bi bi-currency-rupee"></i>
            </span>
          </div>
          <input
            type="number"
            class="form-control"
            id="bookingAmount"
            placeholder="Booking Amout"
            formControlName="bookingAmount"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input
                type="checkbox"
                id="optedForParking"
                (change)="parkingOpted()"
                formControlName="optedForParking"
              />
            </div>
          </div>
          <input
            type="number"
            class="form-control"
            id="parkingFees"
            placeholder="Parking Fees"
            formControlName="parkingFees"
          />
        </div>
        <div class="row">
          <div class="col-12" style="display: flex; justify-content: flex-end">
            <button
              class="btn btn-danger"
              (click)="closeModal()"
              style="margin-right: 15px"
            >
              <i class="bi bi-x-square"></i>&nbsp;&nbsp;Cancel
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="customerDataForm.invalid"
            >
              <i class="bi bi-floppy"></i>&nbsp;&nbsp;Book
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
