table {
  border: none;
}

td {
  width: 100px; /* Set width of the cells */
  height: 100px; /* Set height of the cells */

  text-align: center; /* Center text horizontally */
  vertical-align: middle; /* Center text vertically */
  margin: 20px; /* Add margin to create spacing between cells */
  border: 10px solid antiquewhite;
  border-radius: 100%;
}
