<div class="scrollable-container">
  <div class="scrollable-content">
    <table>
      <ng-container *ngFor="let row of squareData">
        <tr>
          <td
            *ngFor="let cell of row as FlatData"
            [ngStyle]="{
              'background-color': cell.isLandowners
                ? cell.isBooked
                  ? 'yellow'
                  : 'orange'
                : cell.isBooked
                ? 'grey'
                : 'lightcoral'
            }"
          >
            <span (click)="openModal(cell)">
              {{ cell?.floorNo + "-" + cell?.flatNo }}
            </span>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
