<app-header></app-header>

<div class="main-content">
  <div class="row justify-content-center">
    <div class="col-2"></div>
    <div class="col-10 text-center">
      <button
        type="button"
        class="btn btn-primary"
        (click)="addNewApartment()"
        style="display: none"
      >
        Add New Apartment
      </button>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="align-items: center">
      <mat-form-field
        appearance="fill"
        style="width: 100%; border-radius: 25px"
      >
        <mat-label>Select Apartment</mat-label>
        <mat-select
          [(value)]="selectedOption"
          (selectionChange)="onSelectionChange()"
        >
          <mat-option
            *ngFor="let option of masterData?.apartments"
            [value]="option"
          >
            {{ option.apartmentName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <div class="col-2 col-lg-3"></div>
    <div
      class="col-8 col-lg-6"
      style="justify-content: center"
      *ngIf="selectedOption"
    >
      <div class="progress-container">
        <div class="progress-bar" [ngStyle]="{ width: parkingPercent }">
          <div class="text-center">
            <span>Parking Left : </span>
            <span
              ><i class="bi bi-car-front"></i>{{ selectedOption.parkingLeft }}
            </span>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h4>
          <span
            class="badge badge-pill badge-info"
            style="padding: 10px; font-weight: 400"
          >
            <i class="bi bi-car-front-fill"></i> Total Parking :{{
              selectedOption.parkingSpaces
            }}
          </span>
        </h4>
      </div>
    </div>
    <div class="col-2 col-lg-3"></div>
  </div>
  <div class="text-center" *ngIf="!this.selectedOption">
    <h4 class="text-center">Select an Apartment to load Layout</h4>
  </div>
  <div class="row" style="padding-bottom: 15px; padding-left: 1px">
    <div class="col-12 col-lg-2"></div>
    <div class="col-12 col-lg-8">
      <div #scrollableDiv cdkScrollable style="height: 60vh; overflow-y: auto">
        <div class="scrollable-content">
          <div class="box" *ngIf="!this.selectedOption"></div>
          <grid
            [apartment]="selectedOption"
            (myEventEmitter)="fetchSelectedFlat($event)"
            (showUserData)="showUserDataHove($event)"
          ></grid>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-5"></div>
    <div class="col-12 col-lg-2">
      <div
        class="container"
        style="
          justify-content: center;
          border: solid black 2px;
          width: 100%;
          padding: 15px;
          border-radius: 10px;
          margin: 15px;
        "
        *ngIf="this.selectedOption"
      >
        <div class="d-flex">
          <div class="color-box" style="background-color: lightcoral"></div>
          <span>&nbsp;- Available</span>
        </div>
        <div class="d-flex">
          <div class="color-box" style="background-color: #cccccc"></div>
          <span>&nbsp;- Booked</span>
        </div>
        <div class="d-flex">
          <div class="color-box" style="background-color: #ffff58"></div>
          <span>&nbsp;- Landowner's & Booked</span>
        </div>
        <div class="d-flex">
          <div class="color-box" style="background-color: #ffba3c"></div>
          <span>&nbsp;- Landowner's & Available</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-5"></div>
  </div>
</div>
<app-footer> </app-footer>

<!-- Modal Data -->
<app-modal-user
  [showModal]="displayModal"
  [parkingAvailable]="isParkingAvailable"
  (modalReset)="saveUserData($event)"
></app-modal-user>

<app-modal-apartment
  [showModal]="displayAptModal"
  (aptModalReset)="saveApartmentData($event)"
></app-modal-apartment>

<!-- Hover Data -->
<div
  class="modal"
  *ngIf="showUserDataOnClick"
  [ngStyle]="{ display: showModalUserDats }"
>
  <div class="modal-content">
    <span style="text-align: center; font-size: 24px; padding-bottom: 15px">
      <i class="bi bi-bookmark-check-fill"></i>
      Booked</span
    >
    <span class="close" (click)="closeHoverModal()"
      ><i class="bi bi-x-circle-fill"></i
    ></span>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="bi bi-person"></i> </span>
      </div>
      <input
        type="text"
        class="form-control"
        id="customerName"
        placeholder="Customer Name"
        value="{{ userDataShow.customerName }}"
        readonly
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"
          ><i class="bi bi-calendar-check"></i>
        </span>
      </div>
      <input
        #typeInput
        type="text"
        class="form-control"
        id="bookingDate"
        placeholder="Booking Date"
        value=" {{ userDataShow.bookingDate }}"
        readonly
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"
          ><i class="bi bi-calendar-range"></i>
        </span>
      </div>
      <input
        #typeInput2
        type="text"
        class="form-control"
        id="agreementDate"
        placeholder="Agreement Date"
        value=" {{ userDataShow.agreementDate }}"
        readonly
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="bi bi-envelope"></i> </span>
      </div>
      <input
        type="email"
        class="form-control"
        id="emailId"
        placeholder="Email"
        value=" {{ userDataShow.email }}"
        readonly
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="bi bi-phone"></i> </span>
      </div>
      <input
        type="tel"
        class="form-control"
        id="contactNumber"
        placeholder="Contact Number"
        value=" {{ userDataShow.contactNumber }}"
        readonly
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"
          ><i class="bi bi-currency-rupee"></i>
        </span>
      </div>
      <input
        type="text"
        class="form-control"
        id="squareFeetRate"
        placeholder="Sq. Ft. Rate"
        value="{{ userDataShow.squareFeetRate }}/sq.ft."
        readonly
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"
          ><i class="bi bi-currency-rupee"></i>
        </span>
      </div>
      <input
        type="text"
        class="form-control"
        value="{{ userDataShow.developmentFees }} (Development Fees)"
        readonly
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"
          ><i class="bi bi-currency-rupee"></i>
        </span>
      </div>
      <input
        type="text"
        class="form-control"
        id="bookingAmount"
        placeholder="Booking Amout"
        value="{{ userDataShow.bookingAmount }} (Booking Amount)"
        readonly
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="bi bi-currency-rupee"></i>
        </div>
      </div>
      <input
        type="text"
        class="form-control"
        id="parkingFees"
        placeholder="Parking Fees"
        value="{{
          userDataShow.parkingOpted
            ? userDataShow.parkingFees.toString() + ' (Parking Fees)'
            : 'Parking not opted'
        }}"
        readonly
      />
    </div>
  </div>
</div>
