<app-header></app-header>
<div style="background-color: aliceblue; height: calc(100% - 130px)">
  <div class="wrapper">
    <div class="row">
      <div class="col-2">
        <button
          type="button"
          class="btn btn-primary"
          (click)="addNewApartment()"
        >
          ADD APARTMENT
        </button>
      </div>
      <div class="col-10"></div>
    </div>

    <div class="row">
      <div class="col-2">
        <mat-form-field appearance="fill">
          <mat-label>Select Apartment</mat-label>
          <mat-select [(value)]="selectedOption" (change)="onSelectionChange()">
            <mat-option
              *ngFor="let option of masterData?.apartments"
              [value]="option"
            >
              {{ option.apartmentName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Grid Structure -->
      <div class="col-10">
        <h4
          style="padding-top: 15px; padding-left: 50px"
          *ngIf="!this.selectedOption"
        >
          Select an Apartment to check Layout
        </h4>
        <div class="scrollable-container">
          <div class="scrollable-content">
            <grid
              [apartment]="selectedOption"
              (myEventEmitter)="fetchSelectedFlat($event)"
            ></grid>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2" *ngIf="selectedOption">
        <div>
          <span>Total Parking :</span>
          <span>{{ selectedOption.parkingSpaces }}</span>
        </div>
        <div>
          <span>No of parking left :</span>
          <span>{{ selectedOption.parkingLeft }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Data -->
<app-modal-user
  [showModal]="displayModal"
  (modalReset)="saveUserData($event)"
></app-modal-user>

<app-modal-apartment
  [showModal]="displayAptModal"
  (aptModalReset)="saveApartmentData($event)"
></app-modal-apartment>
<app-footer></app-footer>
