/* Modal styles */
.main-content {
  padding-top: 15px;
  width: 100%;
  background-color: antiquewhite;
  max-height: calc(100% - 150px);
  min-height: calc(100% - 150px);
}

.row,
col {
  width: 100%;
}

.scrollable-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 1;
  width: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.9); /* Black color with 40% opacity */
  margin: 5% auto; /* Center modal vertically and horizontally */
  padding: 20px;
  border: 2px solid maroon;
  border-radius: 10px;
  width: 80%; /* Adjust modal width as needed */
  max-width: 600px; /* Maximum modal width */
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
