.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  padding: 50px 50px 0px 50px;
  background-color: aliceblue;
  border-radius: 20px;
  min-height: calc(100% - 130px);
}

.scrollable-container {
  position: fixed;
  top: 100px;
  min-height: calc(100% - 210px);
  max-height: calc(100% - 210px);

  min-width: 70%;
  max-width: 70%;

  overflow: auto;
}

.scrollable-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollable-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #aaa; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Styling for the dropdown trigger */
.mat-select-trigger {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Increase the height and width of the dropdown trigger */
.mat-select-trigger {
  height: 40px; /* Adjust height as needed */
  min-width: 200px; /* Adjust width as needed */
}

/* Increase the height and width of the dropdown panel */
.mat-select-panel {
  max-height: 200px; /* Adjust max height as needed */
  width: 100%; /* Adjust width as needed */
}
