<app-header></app-header>
<div class="main-content">
  <div class="row justify-content-center">
    <div class="col-2"></div>
    <div class="col-10 text-center">
      <button
        type="button"
        class="btn btn-primary"
        (click)="addNewApartment()"
        style="display: none"
      >
        Add New Apartment
      </button>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="align-items: center">
      <mat-form-field
        appearance="fill"
        style="width: 100%; border-radius: 25px"
      >
        <mat-label>Select Apartment</mat-label>
        <mat-select [(value)]="selectedOption" (change)="onSelectionChange()">
          <mat-option
            *ngFor="let option of masterData?.apartments"
            [value]="option"
          >
            {{ option.apartmentName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <div class="col-12" *ngIf="selectedOption">
      <div class="text-center">
        <span>Total Parking :</span>
        <span>{{ selectedOption.parkingSpaces }}</span>
      </div>
      <div class="text-center">
        <span>No of parking left :</span>
        <span>{{ selectedOption.parkingLeft }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-2"></div>
    <div class="col-12 col-lg-8">
      <h4 class="text-center" *ngIf="!this.selectedOption">
        Select an Apartment to check Layout
      </h4>
      <div #scrollableDiv cdkScrollable style="height: 50vh; overflow-y: auto">
        <div class="scrollable-content">
          <grid
            [apartment]="selectedOption"
            (myEventEmitter)="fetchSelectedFlat($event)"
            (showUserData)="showUserDataHove($event)"
          ></grid>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2"></div>
  </div>
</div>
<app-footer></app-footer>

<!-- Modal Data -->
<app-modal-user
  [showModal]="displayModal"
  (modalReset)="saveUserData($event)"
></app-modal-user>

<app-modal-apartment
  [showModal]="displayAptModal"
  (aptModalReset)="saveApartmentData($event)"
></app-modal-apartment>

<!-- Hover Data -->
<div
  class="modal"
  *ngIf="showUserDataOnClick"
  [ngStyle]="{ display: showModalUserDats }"
>
  <div class="modal-content">
    <span style="text-align: center; font-size: 24px; padding-bottom: 15px">
      Customer Details</span
    >
    <span class="close" (click)="closeHoverModal()">x</span>
    <div class="form-group row">
      <span class="col-sm-4 col-form-label">Customer Name : </span>
      <span class="col-sm-6 col-form-label"
        >{{ userDataShow.customerName }}
      </span>
    </div>
    <div class="form-group row">
      <span class="col-sm-4 col-form-label">Booking Date : </span>
      <span class="col-sm-6 col-form-label"
        >{{ userDataShow.bookingDate }}
      </span>
    </div>
    <div class="form-group row">
      <span class="col-sm-4 col-form-label">Booking Amount : </span>
      <span class="col-sm-6 col-form-label"
        >{{ userDataShow.bookingAmount }}
      </span>
    </div>
    <div class="form-group row">
      <span class="col-sm-4 col-form-label">Parking Opted : </span>
      <span class="col-sm-6 col-form-label"
        >{{ userDataShow.parkingOpted ? "Yes" : "No" }}
      </span>
    </div>
  </div>
</div>
