.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  padding: 50px 50px 0px 50px;
  background-color: aliceblue;
  border-radius: 20px;
  min-height: calc(100% - 130px);
}

.scrollable-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollable-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 5px;
}

.row {
  margin-bottom: 15px;
}

/* Modal styles */
.modal {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 1;
  width: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.9); /* Black color with 40% opacity */
  margin: 5% auto; /* Center modal vertically and horizontally */
  padding: 20px;
  border: 2px solid orange;
  border-radius: 10px;
  width: 100%; /* Adjust modal width as needed */
  max-width: 600px; /* Maximum modal width */
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
