/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat;
}
body {
  font-size: 18px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  body {
    font-size: 16px; /* Adjust font size for even smaller screens */
  }
}
